<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oops! {{ error }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}
    {% include 'include/favicon_head.html' %}
    <style>
        main {
            color: black;
            font-family: ui-sans-serif, system-ui, sans-serif;
            font-size: 16px;
            max-width: 43rem;
            margin: 20vh auto;
            padding: 3rem;
        }
        #chatnoir-logo {
            height: 15rem;
            width: auto;
            float: left;
        }
        #error-message {
            margin-left: 12rem;
            padding-top: 1rem;
        }
    </style>
</head>
<body>
    <main>
        <object id="chatnoir-logo" data="{% static 'ui/img/chatnoir-cat-only.svg' %}" type="image/svg+xml"></object>
        <div id="error-message">
            <h1>{{ title }}</h1>
            <p>{{ message }}</p>
            <p>(Error: {{ error }})</p>
        </div>
    </main>
    <script>
        const catLogo = document.querySelector('#chatnoir-logo')
        let purrTimeout = null

        catLogo.addEventListener('load', () => {
            const eyes = catLogo.contentDocument.querySelector('#Eyelids')
            const cat = catLogo.contentDocument.querySelector('#Cat')
            cat.addEventListener('mousemove', () => {
                if (purrTimeout !== null) {
                    clearTimeout(purrTimeout)
                }
                eyes.style.display = 'inline'
                purrTimeout = setTimeout(() => {
                    eyes.style.removeProperty('display')
                    purrTimeout = null
                }, 400)
            })
        })
    </script>
</body>
</html>
