<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oops! {{ error }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load static %}
    {% load chatnoir_tags %}
    {% include 'include/favicon_head.html' %}
    {% frontend_css %}
</head>
<body>
<main class="h-screen flex flex-row items-center mx-auto max-w-140">
    <div class="mb-[27vh] p-5 flex flex-row flex-grow items-center">
        <object data="{% static 'ui/img/chatnoir-cat-only.svg' %}" type="image/svg+xml" aria-hidden="true"
                class="h-48"></object>
        <div class="ml-3 sm:ml-5 mb-3">
            <h1 class="m-0">{{ title }}</h1>
            <p>{{ message }}</p>
            <p>(Error: {{ error }})</p>
            <p><a href="{% url 'chatnoir_frontend:index' %}">Take me back&hellip;</a></p>
        </div>
    </div>
</main>
</body>
</html>
