<!DOCTYPE html>
<html lang="en">
<head>
    {% load chatnoir_tags %}{% load static %}{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% app_name %}{% endblock %}</title>
    {% include 'include/favicon_head.html' %}
    {% endblock %}
    {% block head_additional %}{% endblock %}
    {% frontend_assets %}
</head>
<body>
{% block noscript %}<noscript>
    <strong>We're sorry, but ChatNoir doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>{% endblock %}
{% block before_app %}{% endblock %}
{% block app %}<section id="app"></section>{% endblock %}
{% block after_app %}{% endblock %}
</body>
</html>
