<!DOCTYPE html>
<html lang="en">
<head>
    {% load static chatnoir_tags %}
    <meta charset="utf-8">
    <title>{% app_name %}</title>

    {% include 'search_frontend/include/header.html' %}
</head>
<body class="index-page">
<div id="Main" class="container">
    <div id="LogoWrapper">
        <a rel="home" href="{{ contextPath }}/" title="ChatNoir">
            <object id="Logo" type="image/svg+xml" data="{% static 'img/chatnoir.svg' %}">
                {% app_name %} Logo
            </object>
        </a>
    </div>
    <form role="search" action="{% url 'search:index' %}">
        {% include 'search_frontend/include/search-field.html' %}
    </form>
</div>

{% include 'search_frontend/include/footer.html' %}
</body>
</html>
