### Django
chatnoir_static
**/local_settings.py
**/db.sqlite3

### Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/*.so
**/MANIFEST
**/.venv
**/env/
**/venv/
**/wheels/
**/sdist/
**/eggs/
**/.coverage
**/.coverage.*

### NPM
**/node_modules/
**/dist/

### OS-specific
**/.directory
**/desktop.ini
**/Thumbs.db
**/.DS_Store

### IDEs and temporary files
**/.idea
**/.swp
**/*~
**/*.tmp
**/.vscode
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/.cache/

### Local env files
**/.env.local
**/.env.*.local

### Docker build
build-docker.sh
