boto3
bs4
django>=4.0
django-cors-headers
django-webpack-loader
djangorestframework
django-countries
elasticsearch>=7.0.0,<8.0.0
elasticsearch-dsl>=7.0.0,<8.0.0
fastwarc>=0.10.4
mistune
python-frontmatter
resiliparse>=0.10.4
typing
uwsgi
