{% load static %}
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@16x16.png' %}" sizes="16x16" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@32x32.png' %}" sizes="32x32" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@64x64.png' %}" sizes="64x64" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@96x96.png' %}" sizes="96x96" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@128x128.png' %}" sizes="128x128" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@180x180.png' %}" sizes="180x180" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@256x256.png' %}" sizes="256x256" type="image/png">
<link rel="icon" href="{% static 'ui/img/chatnoir-icon@512x512.png' %}" sizes="512x512" type="image/png">

<link rel="apple-touch-icon" sizes="76x76" href="{% static 'ui/img/chatnoir-icon@76x76.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'ui/img/chatnoir-icon@120x120.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'ui/img/chatnoir-icon@152x152.png' %}">
<link rel="apple-touch-icon" sizes="167x167" href="{% static 'ui/img/chatnoir-icon@167x167.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'ui/img/chatnoir-icon@180x180.png' %}">
