<!DOCTYPE html>
<html lang="en">{% with css_prefix="chatnoir-q58Cv68T2nBUc1k44-" %}
<head>
    <meta charset="utf-8">
    <meta name=”robots” content=”noindex,nofollow”>
    <meta name="theme-color" content="#f8f7f7">
    {% if cache.body_html and cache.meta_viewport %}
        <meta name="viewport" content="{{ cache.meta_viewport }}">
    {% elif not cache.body_html %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
    {% endif %}
    <link rel="canonical" href="{{ cache.meta.warc_target_uri }}">
    <title>{% if cache.title %}{{ cache.title }} | {% endif %}{{ app_name }}</title>
    {% load static %}{% load chatnoir_tags %}
    {% include 'include/favicon_head.html' %}
    {% frontend_css %}
</head>
<body class="text-gray-950/92">
    <div class="chatnoir-header bg-gray-100 flex flex-row flex-shrink-0 py-5 px-4 border-b-1 border-b-gray-200">
        {% if search_frontend_url %}<a href="{{ search_frontend_url }}" class="flex-shrink-0">{% endif %}
        <img src="{% static 'ui/img/chatnoir-icon.svg' %}" width="58" height="58" alt="" aria-hidden="true" class="flex-shrink-0 mr-2 md:mr-3 w-[48px] md:w-[58px]">
        {% if search_frontend_url %}</a>{% endif %}
        <div>
            <div>This is ChatNoir's cached version of
                {% if cache.meta.warc_target_uri %}
                    <a href="{{ cache.meta.warc_target_uri }}" rel="nofollow" class="break-all">{{ cache.meta.warc_target_uri }}</a>
                {% else %}
                    <strong class="font-bold break-all">“{{ cache.title }}”</strong>
                {% endif %}
            </div>
            <div class="text-sm mt-3 md:mt-1">
                <dl class="md:text-xs">
                    <dt class="font-bold inline break-after-avoid">Index:</dt>
                    <dd class="ml-4 md:inline md:ml-[.5ex] md:mr-4">{{ cache.index }}</dd>

                    <dt class="font-bold inline break-after-avoid">Document ID:</dt>
                    <dd class="break-all ml-4 md:inline md:ml-[.5ex] md:mr-4">{{ cache.meta.uuid }}</dd>
                    {% if cache.meta.warc_trec_id %}
                        <dt class="font-bold inline break-after-avoid">TREC ID:</dt>
                        <dd class="break-all ml-4 md:inline md:ml-[.5ex] md:mr-4">{{ cache.meta.warc_trec_id }}</dd>
                    {% endif %}
                    {% if cache.crawl_date %}
                        <dt class="font-bold inline break-after-avoid">Crawl Date:</dt>
                        <dd class="ml-4 md:inline md:ml-[.5ex] md:mr-4">{{ cache.crawl_date | date:"M d, Y" }}</dd>
                    {% endif %}
                </dl>
                {% if not cache.is_binary_doc %}
                    <div class="mt-3 flex flex-row space-x-4">
                        {% if cache.is_html_doc %}
                            <a href="{{ cache.cache_url }}"
                               {% if cache.body_html %}aria-current="page" class="text-current font-bold cursor-default"{% endif %} rel="nofollow">Full HTML</a>
                        {% endif %}
                        {% if cache.is_html_doc or cache.is_html_fragment_doc %}
                            <a href="{{ cache.cache_url }}&amp;minimal"
                                {% if cache.body_plainhtml %}aria-current="page" class="text-current font-bold cursor-default"{% endif %} rel="nofollow">Minimal HTML</a>
                        {% endif %}

                        <a href="{{ cache.cache_url }}&amp;plain"
                            {% if cache.body_plaintext %}aria-current="page" class="text-current font-bold cursor-default"{% endif %} rel="nofollow">Plain Text</a>

                         <a href="{{ cache.cache_url }}&amp;raw" rel="nofollow" target="_blank">Original
                             {% if cache.is_html_doc %}
                                 HTML
                             {% elif cache.is_json_doc %}
                                 JSON
                             {% elif cache.is_xml_doc %}
                                 XML
                             {% else %}Text{% endif %}</a>

                        {% if cache.meta.warc_target_uri %}
                            <a href="{{ cache.meta.warc_target_uri }}" rel="nofollow" target="_blank">Current Website (external)</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if cache.is_binary_doc %}
        <div>
            <p>The requested document does not appear to be a text document.</p>
            <p>
                <a href="{{ cache.cache_url }}&amp;raw" rel="nofollow">Click to view or download the raw document.</a>
            </p>
        </div>
    {% elif cache.body_plaintext %}
        <div class="chatnoir-cache-plaintext m-6 max-w-[60em] font-mono text-sm whitespace-pre-wrap">{{ cache.body_plaintext }}</div>
    {% elif cache.body_plainhtml %}
        <div class="chatnoir-cache-plainhtml m-6 max-w-[60em]">{{ cache.body_plainhtml | safe }}</div>
    {% else %}
        <div class="chatnoir-cache-html relative">
            <template shadowrootmode="closed">{{ cache.body_html | safe }}</template>
        </div>
    {% endif %}
{% endwith %}</body>
</html>
