<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>External Link | {{ app_name }}</title>

    <meta name=”robots” content=”noindex, nofollow”>
    <meta http-equiv="refresh" content="5; url={{ uri }}">
    <style>
        #redirect-message {
            font-family: Carlito, ui-sans-serif, system-ui, sans-serif;
            font-size: 1.2rem;
            margin: 3.5rem auto;
            padding: 0 2rem;
            text-align: center;
            max-width: 80rem;
        }
        h1 {
            font-size: 2.4rem;
            font-weight: bold;
        }
        h1, p {
            margin: 1rem 0;
        }
    </style>
</head>
<body>
    <div id="redirect-message">
        <h1>You are leaving us! ;-(</h1>
        <p>Unfortunately, we have no cached version of the requested page.<p>
        <p>Redirecting you to the <em>InterWebz™</em> at <a href="{{ uri }}" rel="nofollow">{{ uri }}</a> in <span id="timer">5</span> seconds&hellip;</p>
    </div>
    <script>
        const timer = document.getElementById('timer')
        const interval = setInterval(() => {
            const t = Math.max(0, parseInt(timer.innerText) - 1)
            timer.innerText = t.toString()
            if (t === 0) {
                clearInterval(interval)
            }
        }, 1000)
    </script>
</body>
</html>
