<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>External Link | {{ app_name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name=”robots” content=”noindex,nofollow”>
    <meta http-equiv="refresh" content="7; url={{ uri }}">
    {% include 'include/favicon_head.html' %}
    {% load chatnoir_tags %}{% load static %}
    {% frontend_css %}
</head>
<body>
    <div class="text-center mt-[8vh] mb-10 px-5 mx-auto max-w-[30rem]">
        <img src="{% static 'ui/img/chatnoir-icon.svg' %}" class="block mx-auto w-12" width="64" aria-hidden="true" alt="">
        <h1 class="text-2xl my-1">You are leaving us! <span class="text-xl align-middle">😿</span></h1>
        <p class="my-1">Unfortunately, we have no cached version of the requested page.<p>
        <p class="my-6">Redirecting you to the <em>InterWebz™</em> at <a href="{{ uri }}" rel="nofollow" class="block break-all">{{ uri }}</a> in <span id="timer">7</span> seconds&hellip;</p>
    </div>
    <script>
        const timer = document.getElementById('timer')
        const interval = setInterval(() => {
            const t = Math.max(0, parseInt(timer.innerText) - 1)
            timer.innerText = t.toString()
            if (t === 0) {
                clearInterval(interval)
            }
        }, 1000)
    </script>
</body>
</html>
