<p>This is your new ChatNoir API key:</p>
<pre><code>{{ api_key }}</code></pre>

<p>To get started with how to use our API, check out our
    <a href="https://www.chatnoir.eu/doc/">API documentation</a>.</p>
<p>If you have any further questions regarding the service, feel free to contact us.</p>
<p>Please don't forget to
<a href="https://www.uni-weimar.de/medien/webis/publications/papers/stein_2018a.pdf">cite
    our paper</a> and provide a link to
    <a href="https://www.chatnoir.eu/">www.chatnoir.eu</a> if you are using ChatNoir for your
own work. We are looking forward to seeing what people will do with our service.</p>
