<!DOCTYPE html>
<html>
<head>
    <title>ChatNoir API Keys</title>

    {% load static %}
    {%  include 'frontend/header.html' %}
</head>
<body class="search-page">
    <div id="Main" class="container">
        {% include 'frontend/search-header.html' %}

        <section id="ApiKeyReqContents">
            <i class="fa fa-check req-success" aria-hidden="true"></i>
            <div>
                <h1>Request received!</h1>
                <p>Thank you for your interest in ChatNoir!</p>
                <p>We received your API key request and have sent your an email. To complete your
                    application, please check your inbox and click the activation link contained
                    in the email.</p>
            </div>
        </section>
    </div>

    {% include 'frontend/footer.html' %}
</body>
</html>
