{% load static %}
<script>document.body.className = 'js';</script>
<form role="search" action="https://www.chatnoir.eu/" method="get">
    <div id="SearchHeader" class="row">
        <div id="LogoWrapper" class="col-sm-2">
            <a rel="home" href="{{contextPath}}/" title="ChatNoir">
                <object id="Logo" type="image/svg+xml" data="{% static 'frontend/img/chatnoir.svg' %}">
                    ChatNoir Logo
                </object>
                <img src="{% static 'frontend/img/chatnoir-icon.svg' %}" id="LogoIcon" alt="ChatNoir Logo">
            </a>
        </div>
        <div class="col-sm-8">
            <div id="SearchField">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Search" name="q" id="SearchInput">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary input-lg">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
