<footer class="footer" id="PageFooter">
    <div class="container-fluid">
        <div class="row webis-footer-row">
            <div class="nav webis-footer">
                Copyright &copy; {% now 'Y' %} <a href="https://webis.de/" class="webis-link">Webis Group</a> <span>&bullet;</span>
                <a href="https://www.uni-weimar.de/en/media/chairs/computer-science-department/webis/people/#bevendorff">Contact</a> <span>&bullet;</span>
                <a href="https://webis.de/impressum.html">Impressum / Privacy Policy</a>
            </div>

            <div class="nav webis-footer">
                <a href="{%  url 'search:index' %}doc">Help</a> <span>&bullet;</span>
                <a href="{%  url 'search:index' %}doc/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>

{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.sumoselect.min.js' %}"></script>
<script src="{% static 'js/chatnoir.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
