<footer class="footer" id="PageFooter">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-pills col-xs-6">
                <li><a href="https://www.chatnoir.eu/doc">Help</a></li>
                <li><a href="https://www.chatnoir.eu/doc/terms">Terms</a></li>
                <li><a href="https://www.chatnoir.eu/doc/privacy">Privacy</a></li>
            </ul>
            <ul class="nav nav-pills col-xs-6">
                <li><a href="http://webis.de/">&copy; 2014-2020 Webis</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://www.chatnoir.eu/static/js/bootstrap.min.js"></script>
<script src="https://www.chatnoir.eu/static/js/jquery.min.js"></script>
<script src="https://www.chatnoir.eu/static/js/chatnoir.min.js"></script>
