<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ChatNoir API Keys</title>

    {% load static %}
    {% include 'header.html' %}
    <link href="{% static 'apikey_frontend/style.css' %}" rel="stylesheet" />
</head>
<body class="search-page">
    <div id="Main" class="container">
        {% include 'search-header.html' %}

        <section id="ApiKeyContent">
            <h1>Welcome!</h1>
            <p>Purr... We are glad to see you here.</p>
            <p>If you have a valid ChatNoir passcode, you can use the form below to request your personal
            ChatNoir API key.</p>

            <h2>Request API Key</h2>
            <p>To receive an API key, please fill in the following information. Fields marked with <strong>*</strong>
            are required.</p>
            {{ form.non_field_errors }}
            <form action="{% url 'apikey_management:index' %}" method="post" id="ApiKeyReqForm">
                <div class="main-fields">
                    <div class="key-req-name">
                        {{ form.commonname.errors }}
                        <label for="{{ form.commonname.id_for_label }}">Name: *</label>
                        {{ form.commonname }}
                    </div>
                    <div class="key-req-email">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">Email address: *</label>
                        {{ form.email }}
                    </div>
                    <div class="key-req-org">
                        {{ form.organization.errors }}
                        <label for="{{ form.organization.id_for_label }}">Organization:</label>
                        {{ form.organization }}
                    </div>
                    <div class="key-req-address">
                        {{ form.address.errors }}
                        <label for="{{ form.address.id_for_label }}">Postal address:</label>
                        {{ form.address }}
                    </div>
                    <div class="key-req-zipcode">
                        {{ form.zip_code.errors }}
                        <label for="{{ form.zip_code.id_for_label }}">ZIP code:</label>
                        {{ form.zip_code }}
                    </div>
                    <div class="key-req-state">
                        {{ form.state.errors }}
                        <label for="{{ form.state.id_for_label }}">State:</label>
                        {{ form.state }}
                    </div>
                    <div class="key-req-country">
                        {{ form.country.errors }}
                        <label for="{{ form.country.id_for_label }}">Country:</label>
                        {{ form.country }}
                    </div>
                    <div class="key-req-passcode">
                        {{ form.passcode.errors }}
                        <label for="{{ form.passcode.id_for_label }}">Passcode: *</label>
                        {{ form.passcode }}
                    </div>
                </div>
                <div class="buttons">
                    <div class="key-req-tos">
                        {{ form.tos_accepted.errors }}
                        {{ form.tos_accepted }}
                        <label class="form-check-label" for="{{ form.tos_accepted.id_for_label }}" id="KeyReqTosLabel">I agree to the
                            <a href="https://www.chatnoir.eu/doc/terms/">ChatNoir Terms of Service</a> *</label>
                    </div>
                    <div class="key-req-submit">
                        <input class="btn btn-primary" name="submit" type="submit" value="Request Key">
                    </div>
                </div>
                <div>{% csrf_token %} </div>
            </form>
        </section>
    </div>

    {% include 'footer.html' %}
</body>
</html>
