{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; URL Takedowns
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post" novalidate>
        {% csrf_token %}
        <fieldset class="module">
            {% if form.non_field_errors %}
            <div class="form-row errors">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div class="form-row">
                {{ form.urls.errors }}
                <div>
                    {{ form.urls.label_tag }}
                </div>
                <div style="margin-top: 8px;">
                    {{ form.urls }}
                </div>
                {% if form.urls.help_text %}
                <div class="help" style="margin-top: 8px;">
                    {{ form.urls.help_text }}
                </div>
                {% endif %}
            </div>

            <div class="form-row" style="margin-top: 32px;">
                {{ form.warc_target_uri_prefixes.errors }}
                <div>
                    {{ form.warc_target_uri_prefixes.label_tag }}
                </div>
                <div style="margin-top: 8px;">
                    {{ form.warc_target_uri_prefixes }}
                </div>
                {% if form.warc_target_uri_prefixes.help_text %}
                <div class="help" style="margin-top: 8px;">
                    {{ form.warc_target_uri_prefixes.help_text }}
                </div>
                {% endif %}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Process takedowns" class="default">
        </div>
    </form>

    {% if result %}
    <div  style="margin-top: 32px;">
        {% if taken_down_uuid %}
            <div class="form-row">
                <h2>Cache URLs Taken Down:</h2>
                {% for u in taken_down_uuid %}
                    <pre>{{ u }}</pre>
                {% endfor %}
            </div>
        {% endif %}
        {% if takedown_undone_uuid %}
            <div class="form-row">
                <h2>Cache URL Takedowns Undone:</h2>
                {% for u in takedown_undone_uuid %}
                    <pre>{{ u }}</pre>
                {% endfor %}
            </div>
        {% endif %}
        {% if taken_down_prefix %}
            <div class="form-row">
                <h2>Target URI Prefixes Taken Down:</h2>
                {% for prefix_result in taken_down_prefix %}
                    <pre>{{ prefix_result.prefix }} ({{ prefix_result.count }} docs, {{ prefix_result.index_count }} indices)</pre>
                {% endfor %}
            </div>
        {% endif %}
        {% if takedown_undone_prefix %}
            <div class="form-row">
                <h2>Target URI Prefix Takedowns Undone:</h2>
                {% for prefix_result in takedown_undone_prefix %}
                    <pre>{{ prefix_result.prefix }} ({{ prefix_result.count }} docs, {{ prefix_result.index_count }} indices)</pre>
                {% endfor %}
            </div>
        {% endif %}
        {% if not_found_uuid %}
            <div class="form-row">
                <h2>Cache UUIDs not found:</h2>
                {% for i, u in not_found_uuid %}
                    <pre>Index: {{ i }}, UUID: {{ u }}</pre>
                {% endfor %}
            </div>
        {% endif %}
        {% if not_found_prefix %}
            <div class="form-row">
                <h2>Target URI Prefixes Not Found:</h2>
                {% for u in not_found_prefix %}
                    <pre>{{ u }}</pre>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
