<!DOCTYPE html>
<html>
<head>
    {% load chatnoir_tags %}
    <title>Oops! Error: 500 Internal Server Error - {% app_name %}</title>

    {% load static %}
    {%  include 'search_frontend/include/header.html' %}
</head>
<body class="search-page">
    <div id="Main" class="container error">
        <section id="Error">
            <object id="Logo" type="image/svg+xml" data="{% static 'img/chatnoir-cat-only.svg' %}">
                ChatNoir Logo
            </object>
            <div class="message">
                <h1>Oops! This shouldn't happen!</h1>
                <p>We experienced an internal error. Our server monkeys have been notified
                    and are working hard to fix it. Please try again later.</p>
                <p>(Error: 500 – Internal Server Error)</p>
            </div>
        </section>
    </div>

    {% include 'search_frontend/include/footer.html' %}
</body>
</html>
