<!DOCTYPE html>
<html lang="en">
<head>{% spaceless %}
    {% load chatnoir_tags %}
    {% load render_bundle from webpack_loader %}
    {% endspaceless %}
    <meta charset="utf-8">
    <title>{% app_name %}</title>
    {% include 'include/global_head.html' %}
</head>
<body class="cache-page">
    <div id="Main" class="container">
        <div id="CacheHeader">
            <div id="LogoWrapper">
            </div>
            <div id="CacheMeta">
                <h1>Cache Result for document <em>{{ cache.uuid }}</em></h1>
                <div class="cache-document-meta">
                    <em>Index:</em> {{ cache.index }}
                    {% if cache.meta.warc_trec_id %} &bullet; <em>TREC ID:</em> {{ cache.meta.warc_trec_id }} {% endif %}
                    &bullet; <em>Crawl Date:</em> {{ cache.meta.warc_date | date:"M d, Y" }}
                </div>
                <p>
                {% if cache.search_query %}
                    <a href="{%  url 'chatnoir_web:index' %}?q={{ cache.search_query | urlencode }}&index={{ cache.index }}{% if cache.search_page %}&p={{ cache.search_page }}{% endif %}" class="back">Back to search</a> –
                {% endif %}
                    <a href="{{ cache.meta.warc_target_uri }}" class="weblink" target="_blank">View original web page</a> –
                    <a href="{%  url 'chatnoir_web:cache' %}?uuid={{ cache.uuid | urlencode }}&amp;index={{ cache.index | urlencode }}" class="html"{% if not cache.is_plaintext_mode %} style="display: none"{% endif %}>View original HTML</a>
                    <a href="{%  url 'chatnoir_web:cache' %}?uuid={{ cache.uuid | urlencode }}&amp;index={{ cache.index | urlencode }}&amp;plain" class="plaintext"{% if cache.is_plaintext_mode %} style="display: none"{% endif %}>View plain text</a>
                </p>
            </div>
        </div>
        <div id="CacheResult">
            <iframe style="width: 100%; height: 80vh" src="{%  url 'chatnoir_web:cache' %}?uuid={{ cache.uuid | urlencode }}&amp;index={{ cache.index | urlencode }}&amp;raw{% if cache.is_plaintext_mode %}&amp;plain{% endif %}"></iframe>
        </div>
    </div>
</body>
</html>
