<!DOCTYPE html>
<html lang="en">
<head>{% spaceless %}
    {% load chatnoir_tags %}
    {% load render_bundle from webpack_loader %}
    {% endspaceless %}
    <meta charset="utf-8">
    <title>{% app_name %}</title>
    {% include 'include/global_head.html' %}
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'index' 'css' is_preload=True %}
    {% render_bundle 'index' 'js' is_preload=True %}
    {% render_bundle 'index' 'css' %}
</head>
<body>
<noscript>
    <strong>We're sorry but ChatNoir doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<section id="app"></section>
<script>
window.DATA = {
    token: {% search_session_apikey %},
    timestamp: {% now 'U' %},
    {% if indices %}indices: {{ indices | json | safe }}{% endif %}
}
</script>
{% render_bundle "index" 'js' %}
</body>
</html>
