<!DOCTYPE html>
<html lang="en">
<head>{% spaceless %}
    {% load chatnoir_tags %}
    {% load render_bundle from webpack_loader %}
    {% endspaceless %}
    <meta charset="utf-8">
    <title>{% app_name %}</title>
    {% include 'include/global_head.html' %}
</head>
<body>
<noscript>
    <strong>We're sorry but ChatNoir doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
</noscript>
<section id="app"></section>
<script>
window.TOKEN = '{{ csrf_token }}'
</script>
{% render_bundle "index" 'js' %}
</body>
</html>
